## Statistical Analysis Playground
A messy, chaotic repository where I try and implement various algorithms "from scratch".

### Finding Quartiles

In [117]:
import pandas as pd 
import math

In [124]:
# Creating a dataframe  
df = pd.DataFrame({"A":[6, 4, 3, 4, 2,5], 
                   "B":[5, 2, 5, 5, 9, 6], 
                   "C":[2, 2, 7, 3, 4, 3],  
                   "D":[4, 3, 6, 12, 7,9]}) 
df

   A  B  C   D
0  6  5  2   4
1  4  2  2   3
2  3  5  7   6
3  4  5  3  12
4  2  9  4   7
5  5  6  3   9

In [140]:
#Using python's "quantile" function to cross check my implementation
df.quantile([.1, .25, .5, .75], axis = 0)

         A     B     C    D
0.10  2.50  3.50  2.00  3.5
0.25  3.25  5.00  2.25  4.5
0.50  4.00  5.00  3.00  6.5
0.75  4.75  5.75  3.75  8.5

### Finding Min, Q1, Median, Q3 and Max
I'm going to begin by finding the 4 quartiles

In [137]:
def find_median(column):
    column = column.sort_values()
    column = column.reset_index(drop=True)
    nums_elems = len(column)
    remainder = nums_elems%2
    if remainder == 0:
        median_index1 = nums_elems/2 -1
        median = (column[median_index1] + column[median_index1 + 1])/2
    else:
        median_index = math.trunc(nums_elems/2) 
        median = column[median_index]
    return median

In [139]:
find_median(df.iloc[:,3])

6.5

In [46]:
temp_list = list()

for i in range(len(df.columns)):
    temp_list = list()
    for x in range(len(df.iloc[:,i])):
        temp_list.append(df.iloc[:,i][x])
    print(temp_list)

[1, 5, 3, 4, 2]
[5, 2, 5, 5, 9]
[2, 2, 7, 3, 4]
[4, 3, 6, 12, 7]

In [37]:
find_quantile(df)

0    1
1    5
2    3
3    4
4    2
Name: A, dtype: int64
0    5
1    2
2    5
3    5
4    9
Name: B, dtype: int64
0    2
1    2
2    7
3    3
4    4
Name: C, dtype: int64
0     4
1     3
2     6
3    12
4     7
Name: D, dtype: int64

In [18]:
df

   A  B  C   D
0  1  5  2   4
1  5  2  2   3
2  3  5  7   6
3  4  5  3  12
4  2  9  4   7